<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring5_mybatis_study.mapper.TutorMapper">

	<resultMap type="Tutor" id="resTutor">
		<id property="tutorId" column="tutor_id" />
		<result property="name" column="tutor_name" />
		<result property="email" column="email" />
		<collection property="courses"
			resultMap="spring5_mybatis_study.mapper.CourseMapper.resCourse" />
	</resultMap>

	<select id="selectTutorByTutorId" resultMap="resTutor">
		select t.tutor_id, t.name as tutor_name, email,
				c.course_id, c.name, description, start_date, end_date
		  from tutors t left join courses c on t.tutor_id= c.tutor_id
		 where t.tutor_id= #{tutorId}
	</select>

	<!-- Transaction -->
	<insert id="insertTutor" parameterType="Tutor">
		insert into tutors (tutor_id, name, email, phone, addr_id)
		values (#{tutorId}, #{name}, #{email}, #{phone}, #{address.addrId})
	</insert>
	
	<delete id="deleteTutor" parameterType="int">
		delete from tutors where tutor_id = #{tutorId}
	</delete>
</mapper>