<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%5p [%t] - %m%n" />
		</Console>
		<RollingFile name="RollingFile_Daily">
			<FileName>./logs/spring5_mybatis_study.log</FileName>
			<FilePattern>./logs/time-based-logs/%d{yyyy-MM-dd}.log</FilePattern>
			<PatternLayout
				pattern="[%-5level] [%d{yyyy-MM-dd HH:mm}] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="spring5_mybatis_study" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile_Daily" />
		</Logger>
	</Loggers>
</Configuration>
